{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}Strona głowna{% endblock %}</title>
    {% block link %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/3e7235d875.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold"><img class="brand" alt="" src="/static/img/logo.png">Dzióbek On Road<br>{{user.username}}</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="{% url 'order' %}" class="nav-link text-uppercase font-weight-bold">Delivery</a></li>
                    {% if user.is_superuser == 1 %}
                    <li class="nav-item"><a href="{% url 'today_tomorrow' %}" class="nav-link text-uppercase font-weight-bold">Monitoring</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'transport' %}" class="nav-link text-uppercase font-weight-bold">Transports</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'portfolio' %}" class="nav-link text-uppercase font-weight-bold">Portfolio</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-uppercase font-weight-bold">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link text-uppercase font-weight-bold">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">
                {% if user.is_authenticated %}
                {% block nav %}{% endblock %}</h1>
            <p class="lead mb-0">{% block nav_desc %}{% endblock %}</p>
        {% else %}
            Aby przeglądać stronę, musisz się zalogować
            {% endif %}
        </header>
    </div>
</div>
{% if user.is_authenticated %}
{% block content %}
{% endblock %}
{% else %}
<h1>Zaloguj się</h1>
{% endif %}
<script src="/static/time.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
</body>
</html>